---
// Component Imports
import Tateti from '../components/Tateti'

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>Hello React in Astro!</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<main>
      <h1>Hello React!</h1>
      <hr>
      <Tateti client:visible></Tateti>
      <hr>
		</main>
	</body>
</html>
